@model EShop.Entities.Concrete.Account.User
@{
    ViewBag.Title = "Login";
}

<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form">
                    <!--login form-->
                    <h2>Login to your account</h2>
                   
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "SignInForm" }))
                    {
                       <p class="text-danger">@ViewData["ValidationMessage"]</p> 

                        <div class="form-group">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Kullanıcı Adı" })
                            @*@Html.ValidationMessageFor(m=>m.UserName) burası spesific hata mesajı için  *@
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Şifre", @type = "password" })
                        </div>

                        <button type="submit" class="btn btn-default">Login</button>
                    }


                </div><!--/login form-->
            </div>
            <div class="col-sm-1">
                <h2 class="or">OR</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form">
                    <!--sign up form-->
                    <h2>New User Signup!</h2>

                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "SignInForm" }))
                    {
                        @Html.AntiForgeryToken()


                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Kullanıcı Adı" })
                            @*@Html.ValidationMessageFor(m=>m.UserName) burası spesific hata mesajı için  *@
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "Telefon Numarası" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Şifre", @type = "password" })
                        </div>

                        <button type="submit" class="btn btn-success">Signup</button>
                    }



                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->
